@import "tailwindcss";
@tailwind utilities;

@font-face {
    font-family: "Bely Display";
    src:
        local("Bely Display"),
        url(./fonts/belydisplay.ttf) format("truetype");
}

@theme {
    --font-display: "Bely Display", "sans-serif";
}

@layer base {
    #root {
        @apply bg-gray-200 min-w-dvw min-h-dvh p-0! m-0!;
    }

    * {
        @apply text-left;
    }

    h1 {
        @apply font-display text-4xl;
    }

    h2 {
        @apply text-xl font-bold;
    }
    h3 {
        @apply font-bold;
    }

    a {
        @apply underline;
    }

    p.secondary {
        @apply text-gray-400;
    }

    .card {
        @apply p-8 bg-white flex flex-col gap-8 border border-gray-300;
    }

    .Mui-disabled {
        @apply cursor-not-allowed!;
    }

    /* get rid of stupid gap where shrinking label used to be */
    .MuiSelect-select,
    .MuiInputBase-input {
        @apply pt-3!;
    }
}
