@import "tailwindcss";
@tailwind utilities;

@font-face {
    font-family: "Belvare";
    src:
        local("Belvare"),
        url(./fonts/belydisplay.ttf) format("truetype");
}
@theme {
    --font-display: "Belvare", "sans-serif";
}
@layer base {
    #root {
        @apply bg-gray-200 min-w-dvw min-h-dvh p-0! m-0!;
    }

    * {
        @apply text-left;
    }

    h1 {
        @apply font-display text-4xl;
    }

    h2 {
        @apply text-xl font-bold;
    }

    input {
        @apply bg-gray-100 border border-gray-200 rounded-sm py-2 px-4;
    }

    a {
        @apply underline;
    }
}
